@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.card-banner {
  @include height-width(56px, 88px);
  @include round-corner('bottom', 'left', $round-corner--component);
  @include round-corner('top', 'right', $round-corner--card);
  align-items: center;
  background-color: $secondary-color;
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  letter-spacing: 0.2rem;
}

.card-banner--full {
  background-color: $danger-color;
}
