@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.card-banner {
  @include height-width(56px, 88px);
  @include round-corner('bottom', 'left', $round-corner--banner);
  @include round-corner('top', 'right', $round-corner--card);
  align-items: center;
  background-color: $secondary-color;
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  letter-spacing: 0.2rem;

  &--full {
    background-color: $danger-color;
  }
}

@media only screen and (max-width: 640px) {
  .card-banner {
    @include height-width(48px, 80px);

    h4 {
      font-size: 20px;
    }
  }
}
