.nomination-card {
  min-width: 480px;
  width: 45%;
  height: fit-content;

  &:hover {
    cursor: pointer;
    filter: brightness(95%);
  }
}

.nomination-card--header {
  display: flex;
  justify-content: space-between;

  h2 {
    padding: 32px 40px;
  }
}

.nomination-card--footer {
  margin: 16px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nomination-card--list {
  margin: 0 40px 40px;
}

.nomination-card--item {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 24px 0;
}
