$heading-font: 'Raleway', sans-serif;
$body-font: 'Open Sans', sans-serif;

$regular-weight: 400;
$semibold-weight: 600;
$bold-weight: 700;

h1 {
  @include typography-style($heading-font, 64px, $semibold-weight);
}

h2 {
  @include typography-style($heading-font, 28px, $bold-weight);
}

h3 {
  @include typography-style($heading-font, 24px, $semibold-weight);
}

h4 {
  @include typography-style($body-font, 24px, $semibold-weight);
}

body,
p {
  @include typography-style($body-font, 18px, $regular-weight);
}
