$primary-color: #004c3f;
$secondary-color: #b19c2e;
$danger-color: #b12e4f;
$secondary-color--hover: #5d4e00;

$white: #fff;
$black: #333;
$grey: rgb(104, 104, 104);

$round-corner--banner: 25px;
$round-corner--bar: 40px;
$round-corner--card: 4px;
$round-corner--component: $round-corner--bar - 3px;
