@import '../styles/mixins.scss';
@import '../styles/variables.scss';

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  @include height-width(160px, 100vw);
  align-items: center;
  background-color: $primary-color;
  display: flex;
  justify-content: center;

  h1 {
    color: $white;
    width: 80%;
  }
}

main {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.App-search {
  margin: 40px 0;
  width: 100%;

  h3 {
    margin-bottom: 16px;
  }
}

.App-cards {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
}

// .App-alert {
//   li {
//     // color: $black;
//     list-style: square;
//   }
// }
