@import '../styles/mixins.scss';
@import '../styles/variables.scss';

.App {
  align-items: center;
  display: flex;
  flex-direction: column;

  &--header {
    @include height-width(160px, 100vw);
    align-items: center;
    background-color: $primary-color;
    display: flex;
    justify-content: center;

    img {
      &#logo-banner {
        height: 80%;
      }

      &#logo {
        height: 70%;
        display: none;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  &--search {
    margin: 40px 0;
    width: 100%;

    h3 {
      margin-bottom: 16px;
    }
  }

  &--cards {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 1220px) {
  .App--cards {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) {
  .App--header {
    height: 120px;

    img {
      &#logo-banner {
        display: none;
      }

      &#logo {
        display: block;
      }
    }
  }
}
