@import '../styles/mixins.scss';
@import '../styles/typography.scss';
@import '../styles/variables.scss';

.button,
.button--nominate,
.button--remove {
  @include height-width(36px, 120px);

  .MuiButton-label {
    @include typography-style($heading-font, 14px, $semibold-weight);
  }
}

.button--cancel,
.button--confirm {
  @include height-width(63px, 240px);

  .MuiButton-label {
    @include typography-style($heading-font, 24px, $semibold-weight);
  }
}

.button--link {
  @include typography-style($heading-font, 16px, $semibold-weight);

  &.MuiButton-root {
    text-decoration: underline;
    color: $grey;
    transition: all 0.1s ease-out;

    &:hover {
      background-color: transparent;
      text-decoration: underline;
      color: $primary-color;
    }
  }
}
