@import '../styles/mixins.scss';
@import '../styles/typography.scss';
@import '../styles/variables.scss';

.search-button {
  @include height-width(100%, 180px);
  @include typography-style($heading-font, 24px, $semibold-weight);

  border: none;
  border-top-right-radius: $round-corner--component;
  border-bottom-right-radius: $round-corner--component;
  background-color: $secondary-color;
  color: $white;
  min-height: 80px;
  text-transform: uppercase;
  transition: all 0.1s ease-out;

  &:hover {
    background-color: $secondary-color--hover;
  }
}
