@import '../styles/mixins.scss';
@import '../styles/typography.scss';
@import '../styles/variables.scss';

.search-bar {
  @include height-width(80px, 100%);
  align-items: center;
  display: flex;
  border: solid $secondary-color;
  border-radius: $round-corner--bar;
  background-color: $white;

  &--icon {
    margin: 16px;
    color: $black;
    display: flex;
  }

  &--input {
    @include height-width(95%, 100%);
    @include typography-style($body-font, 20px, $regular-weight);
    display: flex;
    background-color: transparent;
    border: none;

    &:focus {
      outline: none;
    }
  }
}

@media only screen and (max-width: 1220px) {
  .search-bar {
    height: 56px;

    &--input {
      font-size: 16px;
    }
  }
}
