@import '../styles/mixins.scss';
@import '../styles/typography.scss';
@import '../styles/variables.scss';

.search-bar {
  @include height-width(80px, 100%);
  align-items: center;
  display: flex;
  border: solid $secondary-color;
  border-radius: $round-corner--bar;
  background-color: $white;
}

.search-bar--icon {
  margin: 16px;
  color: $black;
  display: flex;
}

.search-bar--input {
  @include height-width(95%, 90%);
  @include typography-style($body-font, 20px, $regular-weight);
  display: flex;
  border: none;

  &:focus {
    outline: none;
  }
}
